@font-face {
    font-family: 'Oswald';
    src: local('Oswald Regular'), local('Oswald-Regular'), url('../fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald ExtraLight'), local('Oswald-ExtraLight'), url('../fonts/Oswald-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald Light'), local('Oswald-Light'), url('../fonts/Oswald-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald Medium'), local('Oswald-Medium'), url('../fonts/Oswald-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald SemiBold'), local('Oswald-SemiBold'), url('../fonts/Oswald-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oswald';
    src: local('Oswald Bold'), local('Oswald-Bold'), url('../fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RubikGemstones';
    src: local('RubikGemstones Regular'), local('RubikGemstones-Regular'), url('../fonts/RubikGemstones-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RubikSprayPaint';
    src: local('RubikSprayPaint Regular'), local('RubikSprayPaint-Regular'), url('../fonts/RubikSprayPaint-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'BalsamiqSans';
    src: local('BalsamiqSans Bold'), local('BalsamiqSans-Bold'), url('../fonts/BalsamiqSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'gyparody';
    src: local('gyparody Regular'), local('gyparody-Regular'), url('../fonts/gyparody hv.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}